{% extends 'home/base.html' %}


{% block head %}
	<title>Edit {{object.account_name}}</title>
{% endblock %}
{% block content %}
	<div class="container" style="margin-top:80px">
		<div id="verification-container" style="max-width:400px;margin:auto;display:none;">
			<p class="text-info">You need to be verified as the actual user before you can edit the account.</p>
			<div class="form-group">
				<label for="password">Password:</label>
				<input id="password" type="password" class = 'form-control' />
			</div>
			<button id="verify" type="button" class="btn btn-primary btn-block">Verify</button>
		</div>
		<form method="post" action="." style="max-width:450px;margin:auto;opacity:1;" class = 'mt-5 mb-5'>
			{% csrf_token %}
			<div class="form-group">
				<label for="{{ form.account_name.id_of_label }}">Account Name</label>
				<input required type="text" name="account_name" id = '{{ form.account_name.id_for_label }}' value="{% if object %}{{ object.account_name }}{% else %}{{acc}}{% endif %}" class="form-control">
				{% if messages %}
					{% for message in messages %}
						<p class = 'text-danger small'>{{ message }}</p>
					{% endfor %}
				{% endif %}
			</div>
			{% if object %}
				<div class="custom">
					<!-- Check for custom fields for the account -->
					{% if object.customfieldsforaccount_set.all %}
						{% for custom_account in object.customfieldsforaccount_set.all %}
							<div class="form-group" id = "{{custom_account.id}}">
								<label for="id_custom_field{{forloop.counter}}">{{object.account_name}} {{ custom_account.field_name }}</label>
								{% if custom_account.field_type.lower == 'password' %}
									<div class="input-group">
										<input type="{{custom_account.field_type}}" name="custom_field{{forloop.counter}}" id = 'id_custom_field{{forloop.counter}}' value="{{ custom_account.decrypt_password }}" class="form-control">
										<div class="input-group-append">
											<button type="button" class=" show-or-hide btn btn-outline-secondary">Show</button>
										</div>
									</div>
								{% else %}
									<input type="{{custom_account.field_type}}" name="custom_field{{forloop.counter}}" id = 'id_custom_field{{forloop.counter}}' value="{{ custom_account.field_value }}" class="form-control">
								{% endif %}
							</div>
						{% endfor %}
					{% endif %}
				</div>
				<hr style = 'margin:auto;width:100%;'/>
				<div class="btn-group mb-4 mt-1" style="width:100%">
					<button data-toggle = 'modal' data-target = '#addModal' type="button" class="btn btn-sm btn-dark">Add Field</button>
					<button id = 'remove' type="button" class="btn btn-sm btn-danger">Remove Field</button>
				</div>
			{% endif %}
			{% if not object %}
				<button type="submit" class="btn btn-primary btn-block">Create Account</button>
			{% else %}
				<button type="submit" class="btn btn-primary btn-block">Save Changes</button>
			{% endif %}
		</form>
		
		<!--Modal For Adding A New Field-->
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="addModalLabel">
							Add New Field
						</h5>
						<button class="close" type="button" data-dismiss='modal' aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="id_field_name">Field Name</label>
							<input required id="id_field_name" type="text" placeholder="E.g. Phone Number" class="form-control">
							<p id="double-custom-field" class="text-danger small"></p>
						</div>
						<div class="form-group">
							<label for="id_field_type">Field Type</label>
							<select class="form-control" name="field-type" id="id_field_type">
								<option value="text">Text</option>
								<option value="email">Email</option>
								<option value="password">Password</option>
								<option selected value="number">Number</option>
							</select>
						</div>
						<div class="form-group">
							<label for="id_field_value">Field Value</label><br/>
							<span id="error" class="small text-danger"></span>
							<input type="text" class="form-control" id="id_field_value" required placeholder="E.g. +233271234567">
							<span id="help" class="small text-info">Enter a valid number</span>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary btn-sm" type="button" data-dismiss='modal'>Cancel</button>
						<button class="btn btn-danger btn-sm" type="button" id="add-field" >Add</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<script>
		// A function that verifies a user before editing an account
		let verifyUser = () => {
			$("form").slideUp('fast'); // Remove the form
			$('#verify').click(function(){
				let password = $('#password').val();
				$.ajax({
					url: "{% url 'passlock:verify' %}",
					data: {
						'password':password,
					},
					dataType: 'json',
					success: function(data){
						if(data['user_status']){
							$('#password').attr('class','form-control border-success');
							$('#verify').attr('class','btn btn-success btn-block');
							$('#verify').text('Verified');
							$('#verification-container').slideUp('slow',function(){
								// Remove the verification button to display the form
								$(this).remove();
								$('form').slideDown('slow');
								$('form').css('opacity','1');
							})
						}
						else{
							$('#password').attr('class','form-control border-danger');
						}
					},
				})
			})
		}
		//verifyUser() //Invoke function
		
		// A function that changes the input type based on what the user chooses when forming a custom field
		let changeInputType = () => {
			$('#id_field_type').click(function(){
				let inputType = $(this).val();
				$('#id_field_value').attr('type',inputType)
				$('#help').text(`Enter a valid ${inputType}`);
				$('#error').text("");
			})
		}
		changeInputType(); // Invoke the function
		
		
		// A function that add or deletes custom fields to an account
		let createOrDeleteCustomFields =  () => {
			// Regex for email and number
			let emailRegex = /^[a-zA-Z\d]+@[a-z]+\.(com|org)(\.[a-z]+)?$/;
			let numberRegex = /^\d+$/;
			
			// A function that encrypts any string before making an ajax request
		let encryptBeforeRequest = (string) => {
			let encWord = "";
			let countAdditions = "";
			let ciphers = "r+emip^sudo2lorsi%}tamet,c8on=se@cte3tu?raisc$ing_6elit.Ma0u)s&1aliq7u!et[5male9ad#afeugiat.4Cu*b(itur";
			for(let word of string){
				let encLetter = word;
				let additions = Number(String(Math.random() * 10).split('.')[0]);
				for(let i = 0;i < additions;i++){
					let pos = Number(String(Math.random() * 100).split('.')[0]);
					encLetter += ciphers[pos];
				}
				countAdditions += additions;
				encWord += encLetter;
			}
			encWord += `-${countAdditions}`;
//			console.log(encWord)
			return encWord;
		}
			
			// A function that makes an ajax response in order to add a custom field to a default account
			let ajaxRequestForCustomFields = (name,type,value,accountId) => {
				$.ajax({
					url: "{% url 'passlock:add_custom_field_to_account' %}",
					data: {
						name,
						type,
						'value': encryptBeforeRequest(value),
						accountId,
					},
					dataType: 'json',
					success: function(data){
						$('form div.form-group').last().attr('id',data['custom_account_id'])
					},
				})
			}
			// Create button
			$("#add-field").click(function(){
				let fieldName = $('#id_field_name').val();
				let fieldType = $('#id_field_type').val();
				let fieldValue = $('#id_field_value').val();
				let customFields = [];
				let accountName = $('form div.form-group input').eq(0).val();
				$(this).removeAttr('data-dismiss');
				// Get all the labels in the form
				$('form div.form-group').each(function(){
					if($(this).find('label').text().startsWith(accountName)){
						customFields.push($(this).find('label').text().split(' ')[1].trim())
					}
				})
				if(fieldName && fieldValue){
					if((fieldType === 'email' && emailRegex.test(fieldValue) || fieldType === 'number' && numberRegex.test(fieldValue) || fieldType === 'text' || fieldType === 'password') && !customFields.includes(fieldName) ){
						let formGroupCount = $('form div.form-group');
						if(fieldType !== 'password'){
							$('.custom').append(
								`<div class="form-group">
									<label for="id_${fieldName}">{{object.account_name}} ${capitalizeString(fieldName)}</label>
									<input type="${fieldType}" name="custom_field${formGroupCount.length}" id = 'id_${fieldName}' value="${fieldValue}" class="form-control">
								</div>`
							);
						}
						else{
							$('.custom').append(
								`<div class="form-group">
									<label for="id_${fieldName}">{{object.account_name}} ${capitalizeString(fieldName)}</label>
									<div class="input-group">
										<input type="password" name="custom_field${formGroupCount.length}"  id = 'id_${fieldName}' value="${fieldValue}" class="form-control"/>
										<div class="input-group-append">
											<button type="button" class=" show-or-hide btn btn-outline-secondary">Show</button>
										</div>
									</div>
								</div>`
							);
							$('.show-or-hide').last().click(function(){
								if($(this).text() === 'Show'){
									$(this).parent().parent().find('input[type = "password"]').attr('type','text');
									$(this).text('Hide');
								}
								else{
									$(this).parent().parent().find('input[type = "text"]').attr('type','password');
									$(this).text('Show')
								}
							})
						}
						// Clear the values
						$('#id_field_name').val('');
						$('#id_field_type').val('number');
						$('#id_field_value').val('');
						ajaxRequestForCustomFields(fieldName,fieldType,fieldValue,{{object.id}})
						$(this).attr('data-dismiss','modal');
						$('#help').text(`Enter a valid number`);
						$('#error').text('');
						$('#double-custom-field').text('');
					}
					else{
						$('#help').text(`Enter a valid ${fieldType}`);
						// Checks if the custom field already exists
						if(customFields.includes(fieldName)){
							$('#double-custom-field').text('The custom field you are trying to add already exist for this account.');
						}
						else{
							$('#error').text(`Invalid ${fieldType}`);
						}
					}
							 
				}
			})
			
			// Delete button
			$("#remove").click(function(){
				let totalFormFields = $("form div.form-group").length;
				if(totalFormFields > 1){
					$('form div.form-group').last().slideUp(function(){
						let customAccountId = $(this).attr('id');
						$(this).remove();
						$.ajax({
							url: "{% url 'passlock:delete_custom_account' %}",
							data: {
								customAccountId,
							},
							dataType: 'json',
						})
					}
				)
			}
		})
		}
		createOrDeleteCustomFields() //Invoke function 
		
		// A function that shows or hides a password
		let showOrHide = () => {
			$('.show-or-hide').click(function(){
				if($(this).text() === 'Show'){
					$(this).parent().parent().find('input[type = "password"]').attr('type','text');
					$(this).text('Hide');
				}
				else{
					$(this).parent().parent().find('input[type = "text"]').attr('type','password');
					$(this).text('Show')
				}
			})
		}
		showOrHide() // Invoke function
		
		// A function that capitalizes a word
		let capitalizeString = (word) => {
			return `${word[0].toUpperCase()}${word.substr(1)}`;
		}
		
	</script>
{% endblock %}