{% extends 'home/base.html' %}
{% load static %}

{% block head %}
	<title>{{ object.account_name }}</title>
	<style>
		body{
			user-select:none;
		}
		.col img{
			width:100%;
			height:200px;
			background:red;
		}
		p{
			margin:4px auto;
		}
	</style>
{% endblock %}
{% block content %}
	<div class="container" style="margin-top:80px;">
		<div class="card" style="max-width:600px;margin:auto;">
			<div class="row row-cols-2 no-gutters">
				<div class="col">
					<img src="{% static 'home/images/delete.png' %}" alt="Account Image">
				</div>
				<div class="col" style="padding:5px;">
					<h3>{{ object.account_name }}</h3>
					<p class = 'text-info small ' >Created On: <span class = 'text-dark' >{{ object.date_created }}</span></p>
					<p class = 'text-info small ' >Last Modified: <span class = 'text-dark' >{{ object.date_created }}</span></p>
					<p>{{ object.get_time_elapsed }}</p>
				</div>
			</div><hr style = 'margin:auto;width:100%;'/>
			<div class="card-body">
				<h5>Account Details</h5>
				<div class="form-group">
					<label for="id_username">{{ object.account_name }} Username</label>
					<input type="text" disabled value="{{object.username}}" class="form-control">
				</div>
				<div class="form-group">
					<label for="id_password">{{ object.account_name }} Password</label>
					<input type="password" disabled value="{{object.password}}" class="form-control">
				</div>
				{{ object.test }}
				<a href="{% url 'passlock:default_account_edit' object.pk %}" class = 'btn btn-block btn-success' id="edit-account">Edit Account Details</a>
				<button id="delete-account" class = 'btn btn-block btn-danger'>Delete Account</button>
			</div>
		</div>		
	</div>
{% endblock %}
{% block javascript %}
	<script>
		$('#edit-account').click(function(){
			
		})
	</script>
{% endblock %}