{% extends 'user/base.html' %}


{% block head %}
    <title>Password Reset</title>
{% endblock %}
{% block content %}
    <div class="container" style="position:relative;z-index:2;">
        <form action="." method="post" style="max-width:400px;margin:80px auto auto auto;">
           {% csrf_token %}
            <div class="form-group">
                {{form.email.label_tag}}
                {{form.email}}
            </div>
            <button class="btn btn-dark btn-block">Request Password Reset</button>
        </form>
    </div>
{% endblock %}
{% block javascript %}
    <script>
        $('#id_email').attr('class','form-control');
    </script>
{% endblock %}