{% extends 'user/base.html' %}


{% block head %}
    <title>Password Reset</title>
    <style>
        p{
            background:rgba(255,255,255,.7);
            padding:20px;
            max-width:400px;
            margin:auto;
            margin-top:80px;
            border-radius:5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="position:relative;z-index:2;">
        <p class="text-center lead">An verification token has been sent to your email account..</p>
    </div>
{% endblock %}
