{% extends 'user/base.html' %}


{% block head %}
    <title>Password Reset</title>
    <style>
        p{
            background:rgba(255,255,255,.7);
            padding:20px;
            max-width:400px;
            margin:auto;
            margin-top:80px;
            border-radius:5px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container" style="position:relative;z-index:2;">
        <p class="text-center lead">
            Your password has been successfully resetted.
            <a href="{% url 'user:signin' %}" class="btn btn-block btn-dark">Sign In</a>
        </p>
    </div>
{% endblock %}
